// Font Family 
$open-sans: 'Open Sans', sans-serif;

// Colors ---------------
$white: #ffffff;
$black: #000000; 
$theme-color: #f26957; 
$placeholder-pass-color: rgba(126, 128, 133, 0.239);
$placeholder-text-color: #5D5D5D;
$border-color:#EBEBEB;
$red-color:#E01313;
$orenge-color:#F56F2D;
$button-color: linear-gradient(45deg, #FFA335, #e5744e);
$overlay:#01081F;


// Heading Color
$heading-span-color: #7E8085;

// soft-color
$red-soft-color: #FFF6F6;

 
 
// Responsive Variables 
$xs:'(max-width: 767px)'; 

 